<h3> The Bloom Team </h3>

<p> Congrats! You've made it to the end of another successful. </p> <br> <br>
<p> Here's a sumamry of your junior developer skills, look how far you've come! </p> <br>

<p> Don't forget to update your confidence ratings at the end of the day: <%= @confidence_link_url %> </p> <br>
<p> Good luck, from Bloom team. </p>
<p id="quote"> “They tried to bury us. They didn’t know we were seeds.” </p>
