<h3> The Happiness Project </h3>

<p> You're one day closer to being a Junior Developer, keep it up! </p> <br> <br>
<p> Here are some handpicked, super useful resources to help you focus on key skills: </p> <br>
<ul>
  <li> </li>
  <li> </li>
  <li> </li>
</ul> <br>

<p> Don't forget to update your confidence ratings at the end of the day: <%= @confidence_link_url %> </p> <br>
<p> Good luck, from The Happiness Project team </P>
