<body class="container_skills" style="background-color:white;">

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="width:100%; height: 79%; position:absolute; background-color:white;"></div>
:JavaScript
  $(function () {
      $('#container').highcharts({
          chart: {
              polar: true,
              type: 'line',
              backgroundColor: 'white'
          },

          title: {
              text: 'Track your progress',
              x: -80
          },

          pane: {
              size: '80%'
          },

          xAxis: {
              categories: #{@skillsarray},
              tickmarkPlacement: 'on',
              lineWidth: 0
          },

          yAxis: {
              gridLineInterpolation: 'polygon',
              lineWidth: 0,
              min: 0
          },

          tooltip: {
              shared: true,
              pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
          },

          legend: {
              align: 'right',
              verticalAlign: 'top',
              y: 70,
              layout: 'vertical'
          },

          series: [{
              name: 'Current ratings',
              data: #{@con_array},
              pointPlacement: 'on'
          },{
             name: 'Original ratings',
             data: #{@first_array},
             pointPlacement: 'on',
             color: '#FF00FF '
         }]
      });
  });
</body>
