<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<div class="container">
  <div class="row skills">
    <div class="col-md-8 col-md-offset-2">
      <h3 id="skill-name"> <%= @skill %> </h3>
      <label class="rating-label" for="rating"></label>
      <div id=<%= @skill %>>
        <%= select_tag "feedback[][rating]", options_for_select(1..10), class: "form-control selector", selected: "#{@confidence_rating}" %>
        <%= hidden_field_tag "feedback[][skill_id]", @skill_id %>
      </div>
    </div>
  </div>
</div>
