
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body id="grass_background">

<div class='confidence'>
  <%= form_tag "/confidences" do %>
    <% @skills.each do |skill| %>
      <% @skill = skill.name %>
      <% @skill_id = skill.id %>
        <% skill.confidences.each do |confidence| %>
        <% @confidence_rating = confidence.rating %>
        <% end %>
      <%= render 'group_member_form' %>
    <% end %>
    <br/><br/>
    <%= submit_tag "Submit", class: "btn btn-default" %>
  <% end %>
</div>
</body>