<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="Fish-Tank/WEBM/Fish_Tank.webm" type="video/webm">
        <source src="Fish-Tank/MP4/Fish_Tank.mp4" type="video/mp4">
        <source src="Fish-Tank/OGV/Fish_Tank.ogv" type="video/ogg">
    </video>

<%= form_tag "/confidences" do %>
  <% @skills.each do |skill| %>
    <% @skill = skill.name %>
    <% @skill_id = skill.id %>
    <%= render 'group_member_form' %>
  <% end %>
  <br/><br/>
  <%= submit_tag "Submit" %>
<% end %>

</div>
