body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  background: url('/assets/grass.jpg') center center / cover no-repeat;
}

table {
  margin: 10% auto 10% auto;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sign_up {
  background-color: #e7e7e7;
  width: 20%;
  height: 300%;
  padding-top: 5px;
  padding-bottom: 30px;
  margin: auto;
  margin-top: 10%
}

.confidence {
  background-color: #e7e7e7;
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

#slogan {
  color: #30415D;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 5%;
}

#welcome-text {
  color: white;
  background-color: rgba(107, 186, 167, 0.5);
  font-weight: bold;
  margin-top: 10%;
  padding: 10px;
  margin-bottom: 5%;
}

#button {
  background-color: #CF6766;
  border-radius: 10px;
  padding: 5px;
  color: white;
  margin: 10px;
}

header {
  padding: 20px;
  height: 15px;
  text-align: right;
}

a {
  text-decoration: none;
  font-size: 20px;
}


table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
transition: all 0.3s; /* Simple transition for hover effect */
}

th {
background: #DFDFDF; /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

.navbar-brand {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  margin:0 auto;
  font-size: 30px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

#skill-name {
  display: inline-block;
  float: left;
}

.form-control.selector {
    width: 7%;
    display: inline-block;
    position: absolute;
    left: 500px;
}

#quote {
  font-style: italic;
}

input.btn.btn-default {
  background-color: rgba(107, 186, 167, 0.5);
}

.notice {
  color: white;
  padding-top: 30px;
}

body.container_skills {
  background-color: white;
}

a:hover{
  position: relative;
top: 1px;
}