body {
  text-align: center;
  /*margin-top: 10%;*/
}

table {
  margin: 10% auto 10% auto;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

#slogan {
  color: white;
  font-style: italic;
}

#welcome-text {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.navbar-brand {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  margin:0 auto;
  font-size: 30px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

#skill-name {
  display: inline-block;
  float: left;
  padding-left: 50px;
}

.form-control.selector {
  width: 6%;
  display: inline-block;
}
